<!DOCTYPE html>
<head>
 <style>
  body {
        text-align: center;
        background: url("https://f.cloud.github.com/assets/636431/2084840/eb644894-8e32-11e3-8f65-5dbe7e206af7.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: 18E31E;
        font-family: Helvetica;
    }
    p {
        font-size: 24px;
        
    }
    input {
        border: 0;
        padding: 12px;
        font-size: 18px;
    }
    input[type="submit"]{
        background: limegreen;
        color: black;
    }
    input[type="email"]{
        
    }
    
  </style>
</head>
<body>
<h1>Time To DYE</h1>



<p><b>Hi! You are going to dye fucker.</p></b>

<input type="email"
placeholder="Your email">
<input type="submit">

</body>